.header {
  &__title {
    display: none;
  }
  &__container {
    width: 320px;
    min-height: 230px;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    padding-top: 44px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &.page1-home {
      background: url('../../images/header/fone_page_home_mobile.jpg'),
        rgba(0, 0, 0, 0.56);
    }
    &.page1-mylibrary {
      background: url('../../images/header/fone_page_milibrary_mobile.jpg'),
        rgba(0, 0, 0, 0.56);
    }
    &.page2-home {
      background: url('../../images/header/fone_page_home_mobile_p2.jpg'),
        rgba(0, 0, 0, 0.56);
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      min-height: 220px;

      padding-top: 45px;
      padding-right: 32px;
      padding-bottom: 0;
      padding-left: 32px;
      &.page1-home {
        background: url('../../images/header/fone_page_home_tabblet.jpg'),
          rgba(0, 0, 0, 0.56);
      }
      &.page1-mylibrary {
        background: url('../../images/header/fone_page_milibrary_tabblet.jpg'),
          rgba(0, 0, 0, 0.56);
      }
      &.page2-home {
        background: url('../../images/header/fone_page_home_tabblet_p2.jpg'),
          rgba(0, 0, 0, 0.56);
      }
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      min-height: 216px;
      &.page1-home {
        background: url('../../images/header/fone_page_home_desktop.jpg'),
          rgba(0, 0, 0, 0.56);
      }
      &.page1-mylibrary {
        background: url('../../images/header/fone_page_milibrary_desktop.jpg'),
          rgba(0, 0, 0, 0.56);
      }
      &.page2-home {
        background: url('../../images/header/fone_page_home_desktop_p2.jpg'),
          rgba(0, 0, 0, 0.56);
      }
    }
  }
  &-logo-nav__container {
    display: flex;

    align-items: center;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 60px;
    margin-left: 0;
  }
  &-logo {
    &__link {
      display: flex;

      align-items: center;

      text-decoration: none;
    }
    &__image {
      display: block;

      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 0;
      margin-left: 0;

      padding: 0;
    }
    &__text {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;

        color: #ffffff;
      }
    }
  }
  &-navigations {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    &__list {
      display: flex;

      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;

      padding: 0;
    }
    &__item {
      position: relative;
      margin: 0;
      padding: 0;

      list-style-type: none;

      &:not(:last-child) {
        margin-right: 40px;
      }
      &.is-active::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        bottom: -4px;
        background-color: #ff001b;
        display: block;
      }
    }

    &__link {
      text-decoration: none;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;

      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
  &-searchform {
    &__container {
      display: flex;
      justify-content: center;

      position: relative;

      width: fit-content;

      margin-top: 0;
      margin-right: auto;
      margin-bottom: 16px;
      margin-left: auto;
      @media screen and (min-width: 768px) {
        margin-bottom: 20px;
      }
    }
    &__form {
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;

      width: 280px;
      height: 20px;
    }
    &__input {
      margin: 0;
      padding: 0;

      width: 280px;
      height: 20px;

      border: none;
      border-bottom: 1px solid #fff;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;

      color: #ffffff;
      background-color: transparent;
    }
    &__button {
      &.is-hidden {
        display: none;
      }
      position: absolute;

      right: 0;
      top: 0;

      margin: 0;
      padding: 0;

      border: none;

      fill: #fff;
      background-color: transparent;

      cursor: pointer;
    }
  }
  &__search {
    margin: 0;
    padding: 0;
  }
  &-search {
    &__list {
      display: flex;

      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;

      padding: 0;

      list-style-type: none;

      @media screen and (min-width: 768px) {
        width: 334px;
      }
      @media screen and (min-width: 1280px) {
        width: 312px;
      }
    }
    &__item {
      margin: 0;
      padding: 0;

      &:last-child {
        margin-left: auto;
      }
    }
    &__button {
      width: 130px;
      height: 44px;

      border-radius: 5px;
      border: #ffffff solid 1px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.36;

      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      color: #ffffff;

      background-color: transparent;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      @media screen and (min-width: 768px) {
        width: 152px;
        height: 44px;
      }
      @media screen and (min-width: 1280px) {
        width: 147px;
        height: 42px;
      }

      &:hover,
      &:focus {
        background-color: #ff6b01;
        border: #ff6b01 solid 1px;
        filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
      }
    }
  }
  &__warning-text {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    width: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #ff001b;
    @media screen and (min-width: 768px) {
      width: fit-content;
    }
    &.is-hidden {
      display: none;
    }
  }
}
