.header {
    &.page1-home {
        background: url('../../images/header/fone_page_home_mobile.jpg'),
            rgba(0, 0, 0, 0.56);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.page1-mylibrary {
        background: url('../../images/header/fone_page_milibrary_mobile.jpg'),
            rgba(0, 0, 0, 0.56);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.page2-home {
        background: url('../../images/header/fone_page_home_mobile_p2.jpg'),
            rgba(0, 0, 0, 0.56);
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        &.page1-home {
            background: url('../../images/header/fone_page_home_tabblet.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.page1-mylibrary {
            background: url('../../images/header/fone_page_milibrary_tabblet.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.page2-home {
            background: url('../../images/header/fone_page_home_tabblet_p2.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    @media screen and (min-width: 1280px) {
        &.page1-home {
            background: url('../../images/header/fone_page_home_desktop.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.page1-mylibrary {
            background: url('../../images/header/fone_page_milibrary_desktop.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &.page2-home {
            background: url('../../images/header/fone_page_home_desktop_p2.jpg'),
                rgba(0, 0, 0, 0.56);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__title {
        display: none;
    }

    &__container {
        width: 320px;
        min-height: 230px;

        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;

        padding-top: 44px;
        padding-right: 20px;
        padding-bottom: 0;
        padding-left: 20px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        @media screen and (min-width: 768px) {
            width: 768px;
            min-height: 220px;

            padding-top: 45px;
            padding-right: 32px;
            padding-bottom: 0;
            padding-left: 32px;
        }

        @media screen and (min-width: 1280px) {
            width: 1280px;
            min-height: 216px;
        }
    }

    &-logo-nav__container {
        display: flex;

        align-items: center;

        margin-top: 0;
        margin-right: 0;
        margin-bottom: 60px;
        margin-left: 0;
    }

    &-logo {
        &__link {
            display: flex;

            align-items: center;

            text-decoration: none;
        }

        &__image {
            display: block;

            margin-top: 0;
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 0;

            padding: 0;
        }

        &__text {
            display: none;

            @media screen and (min-width: 768px) {
                display: block;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 1.17;

                color: #ffffff;
            }
        }
    }

    &-navigations {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: auto;

        &__list {
            display: flex;

            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-left: 0;

            padding: 0;
        }

        &__item {
            position: relative;
            margin: 0;
            padding: 0;

            list-style-type: none;

            &:not(:last-child) {
                margin-right: 40px;
            }

            &.is-active-lib::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 4px;
                bottom: -4px;
                background-color: #ff001b;
                display: block;

                @media screen and (max-width: 1279px) {
                        background-color: #FF6B01;
                    }
            }

                         
        }

        &__link {
            text-decoration: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;

            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #ffffff;
        }
    }

  

    &__warning-text {
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;

        width: 280px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;

        color: #ff001b;

        @media screen and (min-width: 768px) {
            width: fit-content;
        }

        &.is-hidden {
            display: none;
        }
    }
}


// body {
//     font-family: Roboto, sans-serif;
//     width: calc(100vw - 12px);
//     height: 100%;
//         margin: 0;
// }
