.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000001;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  overflow: auto;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    .singleMovieModal__container {
      transform: translate(-50%, -100%);
      transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.singleMovieModal {
  &__container {
    position: absolute;

    overflow: auto;

    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;

    width: 280px;
    height: 940px;

    filter: drop-shadow(6px 4px 10px black);

    background-color: #fff;

    @media screen and (min-width: 768px) {
      top: 20%;
      width: 704px;
      height: 552px;

      padding-top: 40px;
      padding-right: 72px;
      padding-bottom: 40px;
      padding-left: 36px;
    }

    @media screen and (min-width: 1280px) {
      width: 806px;
      height: 558px;

      padding-top: 40px;
      padding-right: 12px;
      padding-bottom: 40px;
      padding-left: 12px;
    }
  }

  &__button-close {
    position: absolute;

    top: 8px;
    right: 8px;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: auto;

    padding: 0;

    width: 30px;
    height: 30px;
    color: #000000;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: #ff6b01;
    }
  }

  &__picture {
    position: absolute;

    top: 48px;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;

    padding: 0;

    width: 240px;
    height: 357px;

    border-radius: 5px;

    @media screen and (min-width: 768px) {
      top: 40px;
      left: 36px;

      width: 264px;
      height: 375px;
    }

    @media screen and (min-width: 1280px) {
      left: 12px;

      width: 375px;
      height: 478px;
    }
  }

  &__title {
    position: absolute;

    top: 425px;

    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;

    color: #000000;

    @media screen and (min-width: 768px) {
      top: 40px;
      left: 368px;
    }

    @media screen and (min-width: 1280px) {
      left: 403px;
      font-size: 30px;
    }
  }

  &__description {
    &-list {
      position: absolute;

      // top: 468px;
      top: 498px;

      margin: 0;
      padding: 0;

      list-style-type: none;

      @media screen and (min-width: 768px) {
        // top: 80px;
        top: 110px;
        left: 368px;
      }

      @media screen and (min-width: 1280px) {
        // top: 91px;
        top: 121px;
        left: 403px;
      }
    }

    &-item {
      display: flex;

      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &-text {
      width: 110px;

      margin: 0;

      padding: 0;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;

      color: #8c8c8c;
    }

    &-span {
      margin: 0;
      padding: 0;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;

      color: #000000;
    }

    &-insert {
      padding-left: 5px;
      padding-right: 5px;

      border-radius: 5px;
      margin-right: 3px;

      height: 16px;
      background-color: #ff6b01;
    }
  }

  &__about {
    position: absolute;

    z-index: 10000000;
    height: 100px;
    overflow: hidden;
    top: 626px;
    padding-right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    transform: scale(1);
    width: 240px;
    padding: 0;

    word-wrap: break-word;
    // height: auto;
    overflow: hidden;

    color: #000000;
    background-color: transparent;
    // border: #ff6b01;
    // transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 500ms,
    //   border 300ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;

    @media screen and (min-width: 768px) {
      top: 228px;
      left: 368px;

      padding-right: 0px;
      width: 270px;
      height: 100px;
    }

    @media screen and (min-width: 1280px) {
      top: 240px;
      left: 403px;

      padding-right: 0px;
      width: 391px;
      height: 184px;
    }
    // &:hover,
    // &:focus {
    //   top: 621px;
    //   left: 15px;
    //   padding: 5px;
    //   width: 245px;
    //   height: fit-content;
    //   background-color: rgba(255, 255, 255, 0.807);
    //   @media screen and (min-width: 768px) {
    //     top: 223px;
    //     left: 363px;
    //     width: 285px;
    //   }
    //   @media screen and (min-width: 1280px) {
    //     top: 235px;
    //     left: 398px;
    //     width: 401px;
    //   }
    // }
  }

  &-add {
    &__list {
      position: absolute;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      top: 750px;

      width: 240px;

      margin: 0;
      padding: 0;
      display: flex;

      list-style-type: none;

      @media screen and (min-width: 768px) {
        margin: 0 0 0 0;
        top: 330px;
        left: 360px;
        width: 300px;
      }

      @media screen and (min-width: 1280px) {
        margin: 0;
        margin-left: -10px;
        width: 330px;
        top: 403px;
        left: 430px;
      }
    }

    &__item {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__button,
    &__trailer {
      cursor: pointer;
      width: 100px;
      height: 50px;

      border-radius: 5px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.33;

      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      color: #000000;
      border: #000000 solid 1px;

      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: #ff6b01;
        border: #ff6b01 solid 1px;
        color: #fff;
      }

      @media screen and (min-width: 768px) {
        width: 125px;
        height: 44px;
      }

      @media screen and (min-width: 1280px) {
        width: 115px;
      }
    }
  }
}

.btn-watch {
  color: var(--white-text-color);
  background-color: var(--btn-bcg);
}

.rating {
  color: var(--white-text-color);
  background-color: var(--btn-bcg);
}

button.hide {
  display: none;
}

button.show {
  display: block;
}
