html.dark,
.dark body,
.dark footer .dark .material-icons {
  font-size: 18px;
  font-family: sans-serif;
  background: linear-gradient(180deg, rgb(56, 17, 17) 4%, rgb(26, 26, 26) 27%);
  color: #fff;
}

.dark a {
  color: #fff;
}

.theme {
  margin-right: 20px;
}
.material-icons {
  color: white;
}

.dark .tui-page-btn {
  background-color: rgb(132, 132, 132);
}
.dark .movie__title {
  color: #fff;
}
