.treiler {
  position: fixed;

  width: fit-content;
  height: fit-content;

  &__container {
    position: fixed;

    left: 50%;
    transform: translate(-50%, 30px);
  }
  &__button-close {
    display: flex;
    position: fixed;
    z-index: 1000000000000;

    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    left: 50%;
    transform: translate(313px, 44px);

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px black solid;

    background-color: white;
    color: black;

    cursor: pointer;
    &.is-hidden {
      border: 0;
      background-color: transparent;
      color: transparent;
      cursor: auto;
    }
  }
}
