<div class="backdrop hide" data-modal-signup>
    <div class="modal modal-signup">
        <div class="signup-wpapper">
            <h2 class="modal__title">Sign up</h2>
            <form class="modal__form-registration">
                <ul class="modal__list-input list">
                    <li class="modal__list-item">
                        <label class="modal__label">Email<input type="email" name="email" autocomplete="on"
                                class="modal__field-input" />
                            <svg width="18" height="18" class="modal__icon">
                                <use href="./images/symbol-defs.svg#icon-email"></use>
                            </svg>
                        </label>
                    </li>
                    <li class="modal__list-item">
                        <label class="modal__label">Password<input type="password" name="pass" autocomplete="on"
                                class="modal__field-input" />
                            <svg width="18" height="18" class="modal__icon">
                                <use href="./images/symbol-defs.svg#icon-key"></use>
                            </svg>
                        </label>
                    </li>
                    <li class="modal__list-item">
                        <label class="modal__label">Repeat password<input type="password" name="secondpass"
                                autocomplete="on" class="modal__field-input" />
                            <svg width="18" height="18" class="modal__icon">
                                <use href="./images/symbol-defs.svg#icon-key"></use>
                            </svg>
                        </label>
                    </li>
                </ul>
                <button type="submit" class="modal__button">Sign up</button>
            </form>
        </div>
    </div>
</div>

<div class="backdrop hide" data-modal-signin>
    <div class="modal modal-signin">
        <div class="signin-wpapper">
            <h2 class="modal__title">Sign in</h2>

            <form class="modal__form-login">
                <ul class="modal__list-input list">
                    <li class="modal__list-item">
                        <label class="modal__label">Email
                            <input type="email" name="email" autocomplete="on" class="modal__field-input" />
                            <svg width="18" height="18" class="modal__icon">
                                <use href="./images/symbol-defs.svg#icon-email"></use>
                            </svg>
                        </label>
                    </li>
                    <li class="modal__list-item">
                        <label class="modal__label">Password<input type="password" name="pass" autocomplete="on"
                                class="modal__field-input pass-js" />
                            <svg width="18" height="18" class="modal__icon">
                                <use href="./images/symbol-defs.svg#icon-key"></use>
                            </svg>
                            <button type="button" class="show-pass"><svg width="18" height="18" class="modal__icon">
                                    <use href="./images/symbol-defs.svg#icon-eye"></use>
                                </svg>
                            </button>
                        </label>
                    </li>
                </ul>
                <button type="submit" class="modal__button">Sign in</button>
            </form>
            <p class="divider">OR</p>
            <button class="google-signin">
                <svg width="18" height="18" class="google__icon">
                    <use href="./images/symbol-defs.svg#google"></use>
                </svg>
                Sign up using Google
            </button>
            <div class="signup-now">
                <p class="signup-now__text">Not a member?</p>
                <button class="signup-now__button">Signup Now</button>
            </div>
        </div>
    </div>
</div>