<div class="backdrop is-hidden"></div>
<div class="backdrop js-backdrop is-hidden">
    <div class="modal-team">
        <button class="modal-team__close" data-action="close-modal">
            
            <svg class="icon-close-modal-stud" width="30" height="30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="m8 8 14 14M8 22 22 8" stroke="#000" stroke-width="1" />
            </svg>

        </button>

    
        <div class="developer-container">
            <h2 class="dev-title">Dujina</h2>
            <ul class="dev-set js-dev-set"></ul>
        </div>
    </div>
</div>